<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css" />
    <title>Document</title>
</head>

<%- include ('Header') %>

    <body>

        <div class="jumbo _purple">
            <h3>Welcome to HanResearch</h3>
        </div>
        </div>
        <div class="row">
            <div class="col m4">
                <div class="card" style="width:300px">
                    <img src="https://beauter.io/img/pink.jpg" class="_width100" height="100px">
                    <div class="-content _alignCenter">
                        <strong>Dmail report</strong>
                        <p>A great web3.0 product</p>
                        <button class="_small _yellow">Read</button>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="card" style="width:300px">
                    <img src="https://beauter.io/img/pink.jpg" class="_width100" height="100px">
                    <div class="-content _alignCenter">
                        <strong>Fresh Flowers</strong>
                        <p>Lovely beautiful fresh flowers at your home.</p>
                        <button class="_small _yellow">buy now</button>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="card" style="width:300px">
                    <img src="https://beauter.io/img/pink.jpg" class="_width100" height="100px">
                    <div class="-content _alignCenter">
                        <strong>Fresh Flowers</strong>
                        <p>Lovely beautiful fresh flowers at your home.</p>
                        <button class="_small _yellow">buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>